  .cardContainer {
	padding-bottom: 100px;
	padding-left: 11rem;
	gap: 70px;
  }

  .button .MuiButtonBase-root .MuiButton-root .MuiButton-contained .MuiButton-containedPrimary .MuiButton-sizeLarge .MuiButton-containedSizeLarge .MuiButton-root .MuiButton-contained .MuiButton-containedPrimary .MuiButton-sizeLarge .MuiButton-containedSizeLarge .css-jh47zj-MuiButtonBase-root-MuiButton-root{
	color: black;
  }

  .btn-click{
    text-decoration: none;
    color: black;
  }