  .cardContainer {
	padding-bottom: 100px;
	padding-left: 11rem;
	gap: 70px;
  }

  .button .MuiButtonBase-root .MuiButton-root .MuiButton-contained .MuiButton-containedPrimary .MuiButton-sizeLarge .MuiButton-containedSizeLarge .MuiButton-root .MuiButton-contained .MuiButton-containedPrimary .MuiButton-sizeLarge .MuiButton-containedSizeLarge .css-jh47zj-MuiButtonBase-root-MuiButton-root{
	color: black;
  }

  .btn-click{
    text-decoration: none;
    color: black;
  }

  .css-l039rx-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #318CE7 !important;
    height: 48.1rem;
    display: none;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    background-color: #318CE7 !important;
}