
.quiz-container{
border-radius: 10px;
padding: 40px;
background-color: white;
margin-top: 100px;
width: 70%;
margin: auto;
color: black;
margin-top: 120px;
box-shadow: 1px 1px 10px 5px rgb(234, 229, 229);


}

.question-container{
margin-bottom: 20px;

margin-left: 215px;
margin-left: -2px;
font-size: 30px;

}

.answers-container{


margin-left: -2px;
margin-bottom: 20px;


}

.answer{
border-radius: 5px;
background-color: #d0dbe8;
margin-bottom: 10px;
padding: 20px;
display: flex;
font-size: 20px;
gap: 20px;
align-items: center;
}


.option-0 {
background-color: rgb(144, 237, 144);

}
.option-1 {
background-color: rgb(144, 237, 144);

}
.option-2{
background-color: rgb(144, 237, 144);

}
.option-3{
background-color: rgb(144, 237, 144);

}


.option-incorrect{
background-color: rgb(239, 132, 132);

}

