.css-l039rx-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #318CE7 !important;
    height: 48.1rem;
    display: none;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    background-color: #318CE7 !important;
}