.stud {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.jsTag {
      font-size: 1.4rem !important;
      font-family: "Cormorant" !important;
      text-transform:none !important;
      background-color: #318CE7;
      text-align: center;
      width: 23rem;
      justify-content: center;
      align-items: center;
      height: 12rem;
      padding: 1rem;
      color: black;
      border-radius: 10px;
      line-height: 32px;

}

/* .thejavascriptText {
  width: 20px;
} */

.theText {
  margin-top: 5rem;
  color: #101f33;
  font-size: 19px;
}

.links {
  margin-top: 1rem;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  background-color: #318CE7;
  color: rgb(235, 222, 222);
  padding: 1rem;
  margin: 30px 0;
border-radius: 10px;
}
.links li a {
  text-decoration: none;
  color: black;
  font-family: "Cormorant" !important;


}
.basic-item .medium-item {
  padding: 1rem;
}
