
.first {
    background-color: none;
}
.userType {
    color: #706666;
    height: 1.4774em;
    width: 100%;
    background-color: white;
    box-sizing: content-box;
    height: 3.5rem;
    border-radius: 4px;
    font-size: 1rem;
}

.css-1999axt-MuiAvatar-root {
    background-color: #1976d2 !important;
}

.css-l039rx-MuiDrawer-docked .MuiDrawer-paper {
    position: absolute;
}