*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

.nav-bar{
display: flex;
justify-content: space-around;
align-items: center;
height: 75px;
background-color: #318CE7;
color: white;
}

.code {
    color: red;
  }
  
.logo{
	margin-right: 6rem;
    line-height: 1.02;
    font-size: 13px;
    font-family: "Cormorant";
    width: 4rem;
    text-align: center;
}

.nav-links{
display: flex;
justify-content: flex-end;
list-style: none;
width: 75%;

}

.home,
.about,
.contact,
.Login,
.signup{
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 18px;
padding: 1px 20px;
margin: 0 0px;
cursor: pointer;
font-family: "Cormorant";
/* background-color: #89CFF0; */
}

/* .mobile-menu-icon{
    display: none;
} */

/* MEDIA QUERY */
 @media screen and (max-width: 780px) {
    .logo{
		margin-right: 6rem;
		line-height: 1.02;
		font-size: 13px;
		font-family: "Cormorant";
		width: 4rem;
		text-align: center;
    }
} 

/* .css-l039rx-MuiDrawer-docked .MuiDrawer-paper {
    display: none;
} */